* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    grid-area: header;
    background-color: #FFF9C4;


    h2 {
        color: black;
        text-align: center;
        font-size: 1.1rem;
        font-weight: normal;
    }
}

nav {
    grid-area: menu;
    background-color: #003366;
    padding: 1.8rem;
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    /* Mantengo el display: flex para alinear los elementos en fila */
    justify-content: center;
    /* Cambié para que los elementos queden centrados, no tan separados */
    align-items: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    /* Asegura que los elementos se alineen como bloque en línea */
    margin: 0 1.8rem;
    /* Márgenes ajustados para mantener la separación */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: greenyellow;
    background-color: #00509e;
}

li:last-child {
    display: flex;
    /* Flex para alinear el icono y el contador */
    align-items: center;
    /* Centra el contenido verticalmente */
    justify-content: center;
}

li:last-child a {
    border: none;
    padding: 0.5rem;
    position: relative;
}

li:last-child a:hover {
    border-radius: 50%;
}

.count {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0 0.25rem;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}

main {
  background: linear-gradient(to right, #1a73e8, #0d47a1);
}

main h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 2.5rem;
  text-align: center;
}

main p {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 300;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: 700;
}





footer {
    background-color: #333;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 850px;
}

.copyright-line {
    font-size: 14px;
    color: #fff;
    margin: 5px 0;
    line-height: 1.5;
    word-wrap: break-word;
    white-space: normal;
}


.btnCart {
    background-color: transparent;
    border: none;
}

.fa-cart-shopping {
    color: red;
}